.pic {
  align-items: center;
  border-style: groove;
  border-radius: 50%;
}
.mid1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.pic:hover {
  box-shadow: 5px 5px 10px grey;
}
.mid1 a{
    margin: 5px;
}
.mid1 a:hover{
    box-shadow: 3px 3px 5px 7px grey;
}