.outer {
  display: flex;
  justify-content: center;
  align-items: center;
}
input{
  margin: 10px;
}
 .form{
  margin-top: 50px;
  border-radius: 10px;
  border-style: dotted;
  border-color: transparent;
  padding: 20px;
  box-shadow: 2px 2px 4px tomato;
}
.form-button{
  border-color: transparent;
  opacity: 0.5;
  color:white;
  background: grey;
  box-shadow: 5px 5px 19px black;
}