.outer {
  display: flex;
  justify-content: center;
  align-items: center;
}
input{
  margin: 10px;
}
.form{
  margin-top: 50px;
  border-radius: black;
  border-style: double;
  box-shadow: 2px 2px 4px greenyellow;
}